*.DS_Store
/.idea
/data
/roles
/log
/temp
#/bin/
#!/bin/custom/concerttours
#config/hybris4intellij.properties

/bin/ext-cockpit/
/bin/ext-eventtracking/
/bin/ext-integration/
/bin/platform/
/bin/ext-accelerator/
/bin/ext-platform-backoffice/
/bin/ext-template/
/bin/ext-webservices/
/bin/ext-content/
/bin/ext-channel/
/bin/ext-data/
/bin/ext-smartedit/
/bin/ext-supportability/
/bin/ext-addon/
/bin/ext-commerce/
/bin/ext-customer-experience/
/bin/ext-backoffice/
/bin/ext-platform-optional/
/bin/idea-module-files/
/bin/custom/.idea/
/bin/custom/idea-module-files/
